$font-path: '../assets/fonts/';
$icon-path: '../assets/icons/';

@font-face {
    font-family: 'Marvin';
    src: url("#{$font-path}MarvinVisionsBig-Bold.woff2") format("woff2"),
         url("#{$font-path}MarvinVisionsBig-Bold.woff") format("woff"),
         url('#{$font-path}MarvinVisionsBig-Bold.eot') format('eot')
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #fcf4e9;
}

.splash {
    $splash-img-height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &_title {
        font-family: 'Marvin';
        font-weight: normal;
        color: coral;
        margin: 0;
        .fd-backgroundcliptext & {
            background-image: linear-gradient(coral, #f170b0);
            background-clip: text;
            color: transparent;
        }
        $line-height: 40px;
        font-size: 50px;
        line-height: $line-height;
        margin-top: -($splash-img-height - $line-height);
        letter-spacing: 3px;
        transition: margin-top 300ms ease-in-out;
        animation-name: fadein;
        animation-duration: 2s;
        @media screen and (min-width: 340px) {
            $line-height: 48px;
            font-size: 60px;
            line-height: $line-height;
            margin-top: -($splash-img-height - $line-height);
        }
        @media screen and (min-width: 420px) {
            $line-height: 64px;
            font-size: 80px;
            line-height: $line-height;
            margin-top: -($splash-img-height - $line-height);
        }
        @media screen and (min-width: 750px) {
            $line-height: 112px;
            font-size: 140px;
            line-height: $line-height;
            margin-top: -($splash-img-height - $line-height);
        }
        &-image {
            height: $splash-img-height;
            transition: transform 300ms ease-in-out;
            &:hover {
                transform: rotate(4deg);
            }
        }
    }

}

footer {
    position: fixed;
    bottom: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    animation-name: fadein-footer;
    animation-duration: 2s;
}

.social {
    $icon-height: 30px;
    $icon-width: $icon-height;
    display: flex;
    padding: 0;
    &_item {
        margin: 0 5px;
    }
    &_link {
        display: block;
        text-indent: -9999px;
        width: $icon-height;
        height: $icon-width;
        .fd-cssmask & {
            mask-size: $icon-height $icon-width;
            background-color: #9b9285;
            transition: background-color 300ms ease-in-out;
        }
        .fd-no-cssmask & {
            background-size: $icon-height $icon-width;
        }
        &--twitter {
            .fd-cssmask & {
                mask-image: url(#{$icon-path}twitter.svg);
            }
            .fd-no-cssmask & {
                background-image: url(#{$icon-path}twitter.svg);
            }
        }
        &--instagram {
            .fd-cssmask & {
                mask-image: url(#{$icon-path}instagram.svg);
            }
            .fd-no-cssmask & {
                background-image: url(#{$icon-path}instagram.svg);
            }
        }
        &--github {
            .fd-cssmask & {
                mask-image: url(#{$icon-path}github.svg);
            }
            .fd-no-cssmask & {
                background-image: url(#{$icon-path}github.svg);
            }
        }
        &--linkedin {
            .fd-cssmask & {
                mask-image: url(#{$icon-path}linkedin.svg);
            }
            .fd-no-cssmask & {
                background-image: url(#{$icon-path}linkedin.svg);
            }
        }
        &:hover,
        &:focus {
            .fd-cssmask & {
                background-color: coral;
            }
        }
    }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadein-footer {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}