@font-face {
    font-family: 'Marvin';
    src: url("../fonts/MarvinVisionsBig-Bold.woff2") format("woff2"),
         url("../fonts/MarvinVisionsBig-Bold.woff") format("woff"),
         url('../fonts/MarvinVisionsBig-Bold.eot') format('eot')
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #fcf4e9;
}

.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-family: 'Marvin';
    font-weight: normal;
    font-size: 50px;
    color: coral;
    margin: 0;
    .fd-backgroundcliptext & {
        background-image: linear-gradient(coral, #f170b0);
        background-clip: text;
        color: transparent;
    }
    line-height: 0.8;
    letter-spacing: 3px;
    transition: font-size 300ms ease-in-out;
    animation-name: fadein;
    animation-duration: 2s;
    @media screen and (min-width: 340px) {
        font-size: 60px;
    }
    @media screen and (min-width: 420px) {
        font-size: 80px;
    }
    @media screen and (min-width: 750px) {
        font-size: 140px;
    }
}

h2 span {
    color: blueviolet;
}

footer {
    position: fixed;
    bottom: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    animation-name: fadein-footer;
    animation-duration: 2s;
}

.social {
    display: flex;
    padding: 0;
    &_item {
        margin: 0 5px;
    }
    &_link {
        display: block;
        text-indent: -9999px;
        width: 30px;
        height: 30px;
        .fd-cssmask & {
            mask-size: 30px 30px;
            background-color: #9b9285;
            transition: background-color 300ms ease-in-out;
        }
        .fd-no-cssmask & {
            background-size: 30px 30px;
        }
        &--twitter {
            .fd-cssmask & {
                mask-image: url(../icons/twitter.svg);
            }
            .fd-no-cssmask & {
                background-image: url(../icons/twitter.svg);
            }
        }
        &--instagram {
            .fd-cssmask & {
                mask-image: url(../icons/instagram.svg);
            }
            .fd-no-cssmask & {
                background-image: url(../icons/instagram.svg);
            }
        }
        &--github {
            .fd-cssmask & {
                mask-image: url(../icons/github.svg);
            }
            .fd-no-cssmask & {
                background-image: url(../icons/github.svg);
            }
        }
        &--linkedin {
            .fd-cssmask & {
                mask-image: url(../icons/linkedin.svg);
            }
            .fd-no-cssmask & {
                background-image: url(../icons/linkedin.svg);
            }
        }
        &:hover,
        &:focus {
            .fd-cssmask & {
                background-color: coral;
            }
        }
    }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadein-footer {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}